<p id="notice"><%= notice %></p>

<h1>Listing Eats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Components</th>
      <th>Preparation</th>
      <th>Preparation time</th>
      <th>Cost</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eats.each do |eat| %>
      <tr>
        <td><%= eat.title %></td>
        <td><%= eat.components %></td>
        <td><%= eat.preparation %></td>
        <td><%= eat.preparation_time %></td>
        <td><%= eat.cost %></td>
        <td><%= eat.tags %></td>
        <td><%= link_to 'Show', eat %></td>
        <td><%= link_to 'Edit', edit_eat_path(eat) %></td>
        <td><%= link_to 'Destroy', eat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eat', new_eat_path %>
